<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/style.css">
  <title>AGH</title>
</head>
<body>
  <%- include('nav'); -%>
  <div class="guestDiv">
    <div >
      <h1>Witajcie w AGH</h1>
      <p>Akademia Górniczo-Hutnicza im. Stanisława Staszica w Krakowie to jedna z najlepszych uczelni technicznych w Polsce.</p>
    </div>
    <img src="/agh.jpg"/>
  </div>

</body>
</html>
