<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/style.css">
  <title>Login</title>
</head>
<body>
  <%- include('nav'); -%>
  <div class="auth">
    <h1>Logowanie</h1>
  <% if (error) { %>
    <p style="color: red;"><%= error %></p>
  <% } %>
  <form action="/login" method="post">
    <label for="username">Nazwa uzytkownika:</label>
    <input type="text" id="username" name="username" required>
    
    <label for="password">Hasło:</label>
    <input type="password" id="password" name="password" required>
    
    <button type="submit">Login</button>
  </form>
  
  </div>
  
</body>
</html>
