<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/style.css">
  <title>Login</title>
</head>
<body>
  <h1>Logowanie</h1>
  <% if (error) { %>
    <p style="color: red;"><%= error %></p>
  <% } %>
  <form id="login-form">
    <label for="username">Nazwa uzytkownika:</label>
    <input type="text" id="username" name="username" required>
    
    <label for="password">Hasło:</label>
    <input type="password" id="password" name="password" required>
    
    <button type="submit">Login</button>
  </form>
  <script>
    
    const form = document.getElementById('login-form');
    form.addEventListener('submit', async (event) => {
      event.preventDefault();
      
      const username = document.getElementById('username').value;
      const password = document.getElementById('password').value;

      const authHeader = `Basic ${btoa(`${username}:${password}`)}`;

      const response = await fetch('/login', {
        method: 'POST',
        headers: {
          'Authorization': authHeader,
          'Content-Type': 'application/json',
        },
      });

      if (response.redirected) {
        window.location.href = response.url;
      } else {
        const error = await response.text();
        document.getElementById('error-message').textContent = error;
      }
    });
  </script>
</body>
</html>
